$themes: (
    light: (
        TextColor: #000000,
    ),
    dark: (
        TextColor: #ffffff,
        TextColorSec: #000000,

        BtnOrange: #fc4c25,
        BtnYellow: #feb752,
        BtnWhite: #ffffff,
        RedHaze: #ff000012,
        WhiteHaze: #ffffff40,
        GreenHaze: #2fff0014,
        PurpleHaze: #c300ff1c,

        walletBackground: #000000a6,
        walletBtn: #ff5c11,
    ),
);

$selected-theme: dark !default;
