@import "colors";
@import "mixin";
@import "functions";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
}

body {
    @include customize() {
        background-color: getValue(Background-color);
    }
    width: 100%;
}
