@import "colors";
@import "mixin";
@import "functions";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
    // border: 1px solid rgba(255, 255, 0, 0.466);

    transition: background-image 0.2s, color 0.2s;
}

body {
    @include customize() {
        background-color: getValue(Background-color);
    }
    width: 100%;
}
