* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  transition: background-image 0.2s, color 0.2s;
}

body {
  background-color: #000000;
  width: 100%;
}

.header-section {
  width: 100%;
  height: 12rem;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}
.header-section p {
  font-size: 40px;
}
.header-section button {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
  opacity: 0.95;
  transition: all 0.15s;
  color: #ffffff;
}
.header-section button:hover {
  opacity: 1;
}
.header-section button:active {
  opacity: 0.85;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  transition: background-image 0.2s, color 0.2s;
}

body {
  background-color: #000000;
  width: 100%;
}

.btn-arrow {
  width: 2.6rem;
  height: 2.6rem;
  background: url("images/landing-page/Both/Forward-arrow-white.png") center/cover no-repeat;
  display: inline-block;
  margin-left: 1.2rem;
  position: relative;
  top: 0.55rem;
}

.hero-section {
  background: url("images/landing-page/Dark/hero-background.png") center/cover no-repeat;
  width: 92vw;
  border-radius: 2rem;
  height: 74rem;
  margin: 13rem auto 0;
  color: #ffffff;
}
.hero-section .hero-img {
  width: 84vw;
  max-width: 139rem;
  height: 132rem;
  position: absolute;
  right: 0;
  top: 0;
  background: url("images/landing-page/Both/hero-triangle.png") center/cover no-repeat;
}
.hero-section .hero-content {
  width: 45vw;
  height: 37rem;
  grid-template-rows: repeat(3, 1fr);
  position: relative;
  top: 24rem;
  left: 8rem;
}
.hero-section .hero-content-title {
  background: url("images/landing-page/Dark/hero-logo.png") left no-repeat;
  padding-left: 9.5rem;
  display: inline-block;
  font-size: 7.7rem;
  font-family: Space Grotesk;
  font-weight: 700;
  letter-spacing: 0.19rem;
  line-height: 7.788rem;
}
.hero-section .hero-content-description {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 3.4rem;
  line-height: 3.86rem;
  letter-spacing: -0.1rem;
  margin: 4.5rem 0 3.5rem;
}
.hero-section .hero-content-btn {
  font-family: Ubuntu;
  height: 6.7rem;
  border-radius: 4rem;
  margin-top: 1.8rem;
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: -0.08rem;
  cursor: pointer;
  opacity: 0.95;
  transition: opacity 0.1s, transform 0.15s;
  border: none;
  padding: 1.6rem 3rem;
  background: linear-gradient(142deg, #fc4c25 0%, #feb752 100%);
}
.hero-section .hero-content-btn:hover {
  opacity: 1;
}
.hero-section .hero-content-btn:active {
  opacity: 0.85;
  transform: translate(0, 2px);
}

.discover-section {
  margin: 12.5rem auto 9.5rem;
  background: linear-gradient(rgba(255, 0, 0, 0.07), rgba(255, 0, 0, 0.07)), url('images/landing-page/Dark/hero-background.png') center/cover no-repeat;
  width: 92vw;
  height: 82rem;
  border-radius: 2rem;
  position: relative;
  color: #ffffff;
}
.discover-section .splash-of-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("images/landing-page/Both/Discover-background.png") right/cover no-repeat;
  opacity: 0.9;
  border-radius: 2rem;
}
.discover-section .discover-app {
  background: url("images/landing-page/Dark/Discover-app.png") left/cover no-repeat;
  width: 50.5vw;
  max-width: 869px;
  height: 700px;
  position: absolute;
  right: 0;
  top: 48px;
  z-index: 1;
}
.discover-section .discover-content {
  width: 35vw;
  max-height: 495px;
  position: absolute;
  top: 13vw;
  left: 6%;
  z-index: 2;
}
.discover-section .discover-content .discover-frame {
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.28);
  color: #ffffff;
  display: inline-block;
  padding: 11px 22px;
  font-size: 2.4rem;
  font-family: Roboto;
  font-weight: 600;
  opacity: 0.8;
  letter-spacing: -0.9px;
}
.discover-section .discover-content .discover-header {
  font-size: 5.8rem;
  letter-spacing: -0.5px;
  line-height: 8.45rem;
  font-family: "Ubuntu", sans-serif;
  padding: 20px 0 15px;
  font-weight: 100;
  white-space: nowrap;
  margin: 21px 0 7px;
}
.discover-section .discover-content .discover-header span {
  font-size: 5.8rem;
  letter-spacing: -0.5px;
  line-height: 8.45rem;
  font-family: "Ubuntu", sans-serif;
  padding: 20px 0 15px;
  font-weight: 700;
}
.discover-section .discover-content .discover-text {
  letter-spacing: -0.84px;
  line-height: 3.7rem;
  font-size: 2.4rem;
  font-family: Roboto;
  font-weight: 300;
}
.discover-section .discover-content .discover-text-padding-top {
  padding-top: 10px;
  overflow: hidden;
}

.how-sections {
  color: #ffffff;
}

.how-to-use {
  font-size: 5.8rem;
  line-height: 8.45rem;
  letter-spacing: -2.44px;
  font-weight: 300;
  font-family: Ubuntu;
  padding-left: 114px;
}

.how-section {
  height: 595px;
  width: 92vw;
  margin: 40px auto;
  border-radius: 2rem;
  position: relative;
}

.splash-of-color {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.browser-intro {
  position: relative;
  background: linear-gradient(rgba(255, 0, 0, 0.07), rgba(255, 0, 0, 0.07)), url('images/landing-page/Dark/hero-background.png') center/cover no-repeat;
}
.browser-intro .splash-of-color {
  background: url("images/landing-page/Both/how1-background.png") right/cover no-repeat;
  background-position: 150px;
  opacity: 0.9;
}
.browser-intro .browser-content {
  z-index: 2;
  width: 35vw;
  max-height: 600px;
  position: absolute;
  top: 5vw;
  left: 6%;
}
.browser-intro .browser-content .introducing-frame {
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.28);
  color: #ffffff;
  display: inline-block;
  padding: 11px 22px;
  font-size: 2.4rem;
  font-family: Roboto;
  font-weight: 600;
  opacity: 0.8;
  letter-spacing: -0.9px;
}
.browser-intro .browser-content .browser-header {
  font-size: 5.8rem;
  letter-spacing: -0.5px;
  line-height: 8.45rem;
  font-family: "Ubuntu", sans-serif;
  padding: 20px 0 15px;
  white-space: nowrap;
  font-weight: 500;
  margin-top: 26px;
}
.browser-intro .browser-content .browser-text {
  letter-spacing: -0.84px;
  line-height: 3.7rem;
  font-size: 2.4rem;
  font-family: Roboto;
  font-weight: 300;
  margin-bottom: 28px;
}
.browser-intro .browser-content .browser-btn {
  font-family: Ubuntu;
  height: 6.7rem;
  border-radius: 4rem;
  margin-top: 1.8rem;
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: -0.08rem;
  cursor: pointer;
  opacity: 0.95;
  transition: opacity 0.1s, transform 0.15s;
  border: none;
  padding: 1.6rem 3rem;
  background-color: #ffffff;
  color: #000000;
}
.browser-intro .browser-content .browser-btn:hover {
  opacity: 1;
}
.browser-intro .browser-content .browser-btn:active {
  opacity: 0.85;
  transform: translate(0, 2px);
}
.browser-intro .browser-content .browser-btn .btn-arrow {
  background: url("images/landing-page/Both/Forward-arrow-black.png");
}
.browser-intro .browser-img {
  width: 510px;
  height: 550px;
  background: url("images/landing-page/Dark/how1-image.png") center/cover no-repeat;
  position: absolute;
  right: 3vw;
  bottom: 0;
  z-index: 2;
}

.telegram-intro {
  position: relative;
  background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url('images/landing-page/Dark/hero-background.png') center/cover no-repeat;
  color: white;
  overflow: hidden;
}
.telegram-intro .splash-of-color {
  background: url("images/landing-page/Both/how2-background.png") center/cover no-repeat;
  opacity: 0.8;
  width: 900px;
}
.telegram-intro .telegram-content {
  z-index: 2;
  width: 35vw;
  max-height: 600px;
  position: absolute;
  top: 2.8vw;
  left: 6%;
}
.telegram-intro .telegram-content .telegram-header {
  font-size: 5.8rem;
  letter-spacing: -0.5px;
  line-height: 8.45rem;
  font-family: "Ubuntu", sans-serif;
  padding: 20px 0 15px;
  white-space: nowrap;
  font-weight: 500;
  margin-top: 26px;
}
.telegram-intro .telegram-content .telegram-text {
  letter-spacing: -0.84px;
  line-height: 3.7rem;
  font-size: 2.4rem;
  font-family: Roboto;
  font-weight: 300;
  margin-bottom: 6.6vw;
}
.telegram-intro .telegram-content .telegram-btn {
  font-family: Ubuntu;
  height: 6.7rem;
  border-radius: 4rem;
  margin-top: 1.8rem;
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: -0.08rem;
  cursor: pointer;
  opacity: 0.95;
  transition: opacity 0.1s, transform 0.15s;
  border: none;
  padding: 1.6rem 3rem;
  background-color: #ffffff;
  color: #000000;
}
.telegram-intro .telegram-content .telegram-btn:hover {
  opacity: 1;
}
.telegram-intro .telegram-content .telegram-btn:active {
  opacity: 0.85;
  transform: translate(0, 2px);
}
.telegram-intro .telegram-content .telegram-btn .btn-arrow {
  background: url("images/landing-page/Both/Forward-arrow-black.png");
}
.telegram-intro .telegram-img1 {
  width: 346px;
  height: 532px;
  background: url("images/landing-page/Dark/how2-image1.png") bottom/cover no-repeat;
  position: absolute;
  right: 19.25vw;
  bottom: 0;
  z-index: 2;
  border-radius: 20px 20px 0 0;
}
.telegram-intro .telegram-img2 {
  width: 352px;
  height: 410px;
  background: url("images/landing-page/Dark/how2-image2.png") bottom/cover no-repeat;
  position: absolute;
  right: 6.5vw;
  bottom: 0;
  z-index: 2;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
}

.check-intro {
  position: relative;
  background: linear-gradient(rgba(47, 255, 0, 0.08), rgba(47, 255, 0, 0.08)), url('images/landing-page/Dark/hero-background.png') center/cover no-repeat;
}
.check-intro .splash-of-color {
  background: url("images/landing-page/Both/how3-background.png") right/cover no-repeat;
  background-position: 220px;
  opacity: 0.7;
}
.check-intro .check-content {
  z-index: 2;
  width: 35vw;
  max-height: 600px;
  position: absolute;
  top: 5vw;
  left: 6%;
}
.check-intro .check-content .introducing-frame {
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.28);
  color: #ffffff;
  display: inline-block;
  padding: 11px 22px;
  font-size: 2.4rem;
  font-family: Roboto;
  font-weight: 600;
  opacity: 0.8;
  letter-spacing: -0.9px;
}
.check-intro .check-content .check-header {
  font-size: 5.8rem;
  letter-spacing: -0.5px;
  line-height: 8.45rem;
  font-family: "Ubuntu", sans-serif;
  padding: 20px 0 15px;
  white-space: nowrap;
  font-weight: 500;
  margin-top: 26px;
}
.check-intro .check-content .check-text {
  letter-spacing: -0.84px;
  line-height: 3.7rem;
  font-size: 2.4rem;
  font-family: Roboto;
  font-weight: 300;
  margin-bottom: 28px;
}
.check-intro .check-content .check-btn {
  font-family: Ubuntu;
  height: 6.7rem;
  border-radius: 4rem;
  margin-top: 1.8rem;
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: -0.08rem;
  cursor: pointer;
  opacity: 0.95;
  transition: opacity 0.1s, transform 0.15s;
  border: none;
  padding: 1.6rem 3rem;
  background-color: #ffffff;
  color: #000000;
}
.check-intro .check-content .check-btn:hover {
  opacity: 1;
}
.check-intro .check-content .check-btn:active {
  opacity: 0.85;
  transform: translate(0, 2px);
}
.check-intro .check-img {
  width: 665px;
  height: 528px;
  background: url("images/landing-page/Dark/how3-image.png") center/cover no-repeat;
  position: absolute;
  right: 5.2vw;
  bottom: 1vw;
  z-index: 2;
}
.check-intro .check-wallet-adrs {
  width: 426px;
  height: 68px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: rgba(0, 0, 0, 0.6509803922);
  position: relative;
  top: 20px;
  right: 12px;
}
.check-intro .check-wallet-adrs .wallet-input {
  padding: 16px 0 16px 25px;
  width: 358px;
  height: 64px;
  border: none;
  background-color: transparent;
  color: rgb(255, 243, 237);
  font-size: 18px;
  box-sizing: border-box;
}
.check-intro .check-wallet-adrs .wallet-input:focus {
  outline: none;
}
.check-intro .check-wallet-adrs .wallet-btn {
  background-color: #ff5c11;
  border: none;
  border-radius: 50%;
  padding: 12px;
  width: 54px;
  height: 54px;
  cursor: pointer;
  opacity: 0.95;
  transition: opacity 0.15s;
}
.check-intro .check-wallet-adrs .wallet-btn .btn-arrow {
  margin: 0;
  width: 29px;
  height: 29px;
  position: relative;
  top: 0px;
}
.check-intro .check-wallet-adrs .wallet-btn:hover {
  opacity: 1;
}
.check-intro .check-wallet-adrs .wallet-btn:active {
  opacity: 0.9;
}

.work-seamlessly-section {
  margin: 155px auto 155px auto;
  width: 969px;
  color: #ffffff;
}
.work-seamlessly-section .work-seamlessly-text {
  letter-spacing: -1.44px;
  font-weight: 300;
  font-size: 5.8rem;
  font-family: Ubuntu;
  text-align: center;
  padding-right: 30px;
}
.work-seamlessly-section .work-seamlessly-logo {
  margin-top: 67px;
  display: flex;
  margin: 62px 50px 0;
}
.work-seamlessly-section .work-seamlessly-logo div {
  width: 100%;
  height: 60px;
}
.work-seamlessly-section .work-seamlessly-logo .logo-img1 {
  background: url("images/landing-page/Dark/tonapi-logo.png") center no-repeat;
  background-size: 180px;
}
.work-seamlessly-section .work-seamlessly-logo .logo-img2 {
  background: url("images/landing-page/Dark/fragment-logo.png") center no-repeat;
  background-size: 180px;
}
.work-seamlessly-section .work-seamlessly-logo .logo-img3 {
  background: url("images/landing-page/Dark/tonscan-logo.png") center no-repeat;
  background-size: 170px;
}

.recap-section {
  margin: 12.5rem auto 9.5rem;
  background: linear-gradient(rgba(195, 0, 255, 0.11), rgba(195, 0, 255, 0.11)), url('images/landing-page/Dark/hero-background.png') center/cover no-repeat;
  width: 92vw;
  height: 92rem;
  border-radius: 2rem;
  position: relative;
  color: #ffffff;
  overflow: hidden;
}
.recap-section .recap-content {
  width: 660px;
  position: absolute;
  top: 75px;
  left: 6%;
  z-index: 2;
}
.recap-section .recap-content .recap-header {
  font-size: 5.8rem;
  letter-spacing: -0.5px;
  line-height: 8.45rem;
  font-family: "Ubuntu", sans-serif;
  padding: 20px 0 15px;
  font-weight: 500;
  padding-left: 15px;
  margin-bottom: 20px;
}
.recap-section .recap-content .recap-text {
  letter-spacing: -2.3px;
  line-height: 4.55rem;
  font-size: 3.5rem;
  font-family: Ubuntu;
  padding-top: 40px;
}
.recap-section .recap-content .recap-btn {
  font-family: Ubuntu;
  height: 6.7rem;
  border-radius: 4rem;
  margin-top: 1.8rem;
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: -0.08rem;
  cursor: pointer;
  opacity: 0.95;
  transition: opacity 0.1s, transform 0.15s;
  border: none;
  padding: 1.6rem 3rem;
  margin-top: 85px;
  margin-left: 13px;
  background: linear-gradient(142deg, #fc4c25 0%, #feb752 100%);
}
.recap-section .recap-content .recap-btn:hover {
  opacity: 1;
}
.recap-section .recap-content .recap-btn:active {
  opacity: 0.85;
  transform: translate(0, 2px);
}
.recap-section .recap-img {
  width: 85vw;
  max-width: 1186px;
  height: 920px;
  position: absolute;
  right: 0;
  top: 0;
  background: url("images/landing-page/Both/recap-img.png") center/cover no-repeat;
}

.footer-section {
  width: 100%;
  height: 80px;
  color: #ffffff;
  font-family: Ubuntu;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
.footer-section div {
  font-size: 17px;
}
.footer-section div::-moz-selection {
  background: transparent;
}
.footer-section div::selection {
  background: transparent;
}
.footer-section .footer-rights {
  opacity: 0.4;
  cursor: default;
}
.footer-section .footer-btns {
  display: flex;
  gap: 40px;
}
.footer-section .footer-btns div {
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 0.15s;
}
.footer-section .footer-btns div:hover {
  opacity: 0.8;
}
.footer-section .footer-btns div:active {
  opacity: 0.6;
}/*# sourceMappingURL=style.css.map */