* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
}

body {
    background-color: #000;
    color: white;
    width: 100%;
}

.header-section {
    width: 100%;
    height: 12rem;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 1px solid #333;
}

.hero-section {
    margin: 0 5vw;
    background: url("../img/hero-background.png") center/cover no-repeat;
    width: 90vw;
    height: 69.5rem;
    border-radius: 2rem;

    .hero-img {
        width: 80vw;
        height: 125rem;
        position: absolute;
        right: 0;
        top: 0;
        background: url("../img/hero-triangle.png") center/cover no-repeat;
        opacity: 0.9;
    }

    .hero-content {
        width: 45vw;
        height: 37rem;
        grid-template-rows: repeat(3, 1fr);
        position: relative;
        top: 222px;
        left: 80px;
        display: flex;
        flex-direction: column;
        gap: 35px;

        &-title {
            background: url("../img/hero-logo.svg") left no-repeat;
            padding-left: 9rem;
            display: inline;
            font-size: 7.297rem;
            font-family: Space Grotesk;
            font-weight: 700;
            letter-spacing: 0.19rem;
            line-height: 7.788rem;
        }

        &-description {
            font-family: Roboto, sans-serif;
            font-weight: 400;
            font-size: 3.4rem;
            line-height: 3.86rem;
            letter-spacing: -0.1rem;
        }

        &-btn {
            // background: url("../img/hero-arrow.svg") cover no-repeat right,
            //     linear-gradient(to top left, #feb752, #fc4c25);

            background: linear-gradient(142deg, #fc4c25 0%, #feb752 100%);

            // background: url("../img/hero-arrow.svg") cover/right no-repeat;
            // background-size: 10px;

            width: 31rem;
            height: 6.7rem;
            border-radius: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1.8rem;
            color: white;
            font-size: 2.5rem;
            font-weight: 600;
            letter-spacing: -0.08rem;
            cursor: pointer;
            opacity: 0.95;
            transition: opacity 0.1s, transform 0.15s;
            border: none;

            &:hover {
                opacity: 1;
            }

            &:active {
                opacity: 0.85;
                transform: translate(0, 2px);
            }
        }
    }
}

.discover-section {
    margin: 12.5rem 5vw;
    background: linear-gradient(rgba(255, 0, 0, 0.07), rgba(255, 0, 0, 0.07)),
        url("../img/hero-background.png") center/cover no-repeat;
    width: 90vw;
    height: 78rem;
    border-radius: 2rem;
    position: relative;

    .splash-of-color {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../img/Discover-background.png") right/cover no-repeat;
        opacity: 0.75;
        border-radius: 2rem;
    }

    .discover-app {
        background: url("../img/Discover-app.png") left/cover no-repeat;
        width: 50.5vw;
        height: 700px;
        // border: 1px solid rgb(17, 0, 255);
        position: absolute;
        right: 0;
        top: 48px;
    }

    .discover-content {
        // border: 1px solid red;
        width: 35vw;
        max-height: 495px;
        position: absolute;
        top: 17.6rem;
        top: 13vw;
        left: 6%;
        display: flex;
        flex-direction: column;

        .discover-frame {
            border-radius: 50px;
            background-color: rgba(255, 255, 255, 0.3);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-size: 2.4rem;
            font-family: Roboto;
            font-weight: 600;
            width: 270px;
            height: 50px;
        }

        .discover-header {
            font-size: 5.8rem;
            letter-spacing: -2.44px;
            line-height: 8.45rem;
            font-family: Ubuntu;
            padding: 20px 0 15px;
            white-space: nowrap;

            span {
                font-size: 5.8rem;
                letter-spacing: -2.44px;
                line-height: 8.45rem;
                font-family: Ubuntu;
                font-weight: 700;
            }
        }

        .discover-text {
            letter-spacing: -0.84px;
            line-height: 3.56rem;
            font-size: 2.4rem;
            font-family: Roboto;
            font-weight: 100;
            // text-align: justify;

            &-padding-top {
                padding-top: 10px;
                overflow: hidden;
            }
        }
    }
}
